@charset "UTF-8";

html,
body {
	margin: 0;
	height: 0;
	font-size: 16px;
}

body {
	box-sizing: border-box;
	width: 100vw;
	min-height: 100vh;
}

.slider {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 32rem;
	overflow: hidden;
	visibility: hidden;
}

.slider-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slider-wrap > div {
	position: relative;
	float: left;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-flow: column nowrap;
	place-content: space-between;
	align-items: center;
}

.slider-wrap > div > img {
	position: relative;
	float: left;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

.slider-wrap > div > b {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 16rem;
}

.slider-navigate-wrap {
	display: table;
	margin: 1rem auto;
	height: 1rem;
	padding: 0;
}

.slider-navigate {
	display: table-cell;
	text-align: center;
	padding: 0.5rem;
	cursor: pointer;
}

.slider-navigate:before {
	content: '';
	display: block;
	border-radius: 1rem;
	width: 1rem;
	height: 1rem;
	background-color: #d9c4a7;
	transition: all 0.25s;
}

.slider-navigate-active {
	cursor: default;
}

.slider-navigate-active:before {
	width: 2rem;
	background: linear-gradient(135deg, #552322, #944541);
}

.slider-button {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	display: table;
	width: 2rem;
	height: 6rem;
	background: rgba(255,255,255,0.48);
	opacity: 1;
	cursor: pointer;
	border-radius: 0.5rem;
	transition: opacity 0.25s;
}

.slider-button:before {
	display: table-cell;
	vertical-align: middle;
	filter: saturate(4) sepia(8);
	transform: scale(0.8);
}

.slider-button:hover {
	opacity: 1;
}

.slider-button.slider-button-disabled {
	opacity: 0.32;
	cursor: default;
}

.slider-button-prev {
	left: 1rem;
}

.slider-button-prev:before {
	content: url(../imgs/icon/icon_angle_left.svg);
}

.slider-button-next {
	right: 1rem;
}

.slider-button-next:before {
	content: url(../imgs/icon/icon_angle_right.svg);
}

.img-box {
	display: flex;
	flex-flow: column nowrap;
	place-content: center;
	align-items: stretch;
	width: 100%;
	grid-gap: 1rem;
}

.img-box>p {
	display: block;
	margin: 1rem 0 0;
	text-align: center;
	font-family: monospace;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.6;
}

.img-box>img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.spec {
	margin-top: 1rem;
}

.spec>table {
	border-collapse: collapse;
	width: 100%;
}

.spec>table th,
.spec>table td {
	border: 1px solid #bbb;
	padding: 2px 6px;
	font-family: monospace;
	font-size: 14px;
}

.spec>table th {
	background: #ddd;
	font-weight: bold;
}

.spec>table td {
	background: #fff;
	font-weight: normal;
}

#contact {
	margin-top: 1rem;
}

#contact>a {
	display: flex;
	flex-flow: row nowrap;
	place-content: center;
	align-items: center;
	border-radius: 0.5rem;
	padding: 1rem 0;
	background: #0058a8;
	color: #fff;
	font-family: monospace;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.6;
}
